
/* to set up page with no margin and padding */
*
{
    margin: 0;
    padding: 0;

}

/* set image to 100% max width */
img
{
    max-width: 100%;
}

/* set up page background color  and page border*/
.container
{
    background-color: antiquewhite;
    
    border: 2px solid red;

    /* using margin left and right and set to auto to center container */
    margin-left: 40px;
    margin-right: 40px;
    
}

/* format header */
header
{
    
    border: 1px solid red;
    text-align: center;
    padding: 5px;
    color: white;
    background-color: lightcoral;
}

/* format navigation bar */
.nav-bar
{
    
    display: flex;
    flex-direction: row;
    
    /* to align nav bar item center horizontally */
    justify-content: center;
   
    /* to align nav bar items center vertically */
    align-items: center;

    /* to align text center inside its box */
    text-align: center;
    /* to remove the bullet in list */
    list-style-type: none;

    /* to chang items to all uppercase */
    text-transform: uppercase;
    background-color: darkgrey;
    height: 40px;
   
}

/* fomrat the nav bar items */
.nav-bar li 
{
background-color: grey;
box-sizing: border-box;
width: 180px;
border: 1px solid black;
text-decoration: none;
padding: 5px;
margin-right: 15px;

}

/* format three images div to display on row */
.three-column
{
    max-width: 100%;
    display: flex;
    justify-content: center;
    
    
 
}


/* format three images with border and padding */
.three-column img
{
    border: 3px solid greenyellow;
   
    margin: 10px;
    margin-right: auto;
    
} 


/* format footer */
footer
{
    text-align: center;
    color: red;
    padding-bottom: 3%;
}

