/* to set up page with no margin and padding */
* {
	margin: 0;
	padding: 0;
}

/* set image to 100% max width */
img {
	max-width: 100%;
}

/* Navigation Format start */

/* format navbar  */
.navbar {
	background: linear-gradient(rgb(144, 140, 140), rgb(240, 12, 12));
}

/* format navbar img */
.banner-pic {
	width: 100px;
	height: 80px;
	margin-left: 3%;
	margin-right: 3%;
}

/* format conatiner banner */

.container-banner {
	text-align: center;
	margin: auto;
	width: 60%;
}

/* format navbar banner */
.navbar h1 {
	color: whitesmoke;
	font-family: "Cookie", cursive;
	font-size: 60px;
	margin-top: 1%;
}

/* format navbar ul  */
.navbar-menu li {
	display: inline-block;
	color: black;
	font-size: 20px;
	font-weight: 400;
	font-family: sans-serif;
	letter-spacing: 3px;
	margin-right: 10px;
	transition: 0.5s;
}

/* hover effect on ul li */
.navbar-menu li:hover {
	color: white;
	border-top: 3px solid rgb(2, 2, 45);
	border-bottom: 5px dashed rgb(2, 2, 44);
	font-size: 35px;
}

/* format hr tag*/
hr {
	border: 5px double rgb(241, 6, 6);
}
/* Navigation Format ends */

/* Main image format starts */

/* format main pic */
.container-pics {
	width: 100%;
	height: auto;
	border: 2px solid red;
	padding: 5px;
	background: grey;
}

#main-pic {
	width: 100%;
	padding: 5px;
}

/* Main image format ends */

/* three column pic format starts*/

/* format the row */
.row {
	display: flex;
	justify-content: center;
}

/* format col1 */
.col1 {
	flex-basis: 30%;
}



/* Three column pic format ends */

